$font-sizes: (
    "zeta": (
        base: $size-zeta,
    ),
    "epsilon": (
        base: $size-epsilon,
    ),
    "delta": (
        base: $size-delta,
    ),
    "gamma": (
        base: $size-gamma,
    ),
    "beta": (
        base: $size-beta,
    ),
    "alpha": (
        base: $size-alpha,
    ),
);
