{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": ["airbnb-base", "prettier"],
    "parser": "babel-eslint",
    "rules": {
        "comma-dangle": [
            "error",
            {
                "arrays": "never",
                "objects": "never",
                "imports": "never",
                "exports": "never",
                "functions": "never"
            }
        ],
        "comma-style": [2, "last"],
        "prefer-arrow-callback": 2,
        "arrow-parens": 0,
        "space-before-function-paren": 0,
        "operator-linebreak": 0,
        "implicit-arrow-linebreak": 0,
        "function-paren-newline": 0,
        "no-tabs": 0,
        "no-undef": 0,
        "no-unused-vars": 2,
        "no-console": 0,
        "no-plusplus": 0,
        "no-shadow": 0,
        "no-continue": 0,
        "no-param-reassign": 0,
        "no-new": 0,
        "new-cap": 0,
        "wrap-iife": 0,
        "class-methods-use-this": 0,
        "quotes": [2, "double"],
        "eol-last": 0,
        "no-mixed-requires": 0,
        "no-underscore-dangle": 0,
        "no-use-before-define": [2, "nofunc"],
        "no-loop-func": 0,
        "no-multi-assign": 0,
        "strict": [2, "never"],
        "consistent-return": 0,
        "max-len": 0,
        "one-var": 0,
        "func-names": [1, "never"],
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1
            }
        ],
        "no-mixed-spaces-and-tabs": 2,
        "no-unused-expressions": [
            "error",
            {
                "allowTernary": true
            }
        ],
        "import/prefer-default-export": "off",
        "no-restricted-syntax": "off"
    }
}
