///*----------------------------------*\
//  #ICON
//\*----------------------------------*/
//
//  Provides base setup for SVG icons
//
//\*----------------------------------*/
//
//  Usage:
//
// <button>
//     <svg class="c-ico"><use xlink:href="#icon-arrow-left"></use></svg>
// </button>

.c-ico {
    display: inline-flex;
    width: 32px;
    height: 32px;
    fill: currentColor;
}
