///*----------------------------------*\
//  #NAVIGATION
//\*----------------------------------*/
//
//  Default Navigation. Complies with A11y Markup Structure
//
//\*----------------------------------*/
//
// <nav class="c-nav  js-nav" role="navigation" aria-label="Main Navigation">
//     <button class="c-nav__btn  js-nav-toggle" aria-expanded="false" aria-controls="navigation" aria-label="Navigation"><span>☰</span></button>
//     <ul id="navigation" class="c-nav__list  js-nav-list" role="menubar" hidden>
//         <li class="c-nav__item  c-nav__item--active" role="menuitem">
//             <a href="/" class="c-nav__link"><span>Nav Item 1</span></a>
//         </li>
//         <li class="c-nav__item" role="menuitem">
//             <a href="/" class="c-nav__link"><span>Nav Item 2</span></a>
//         </li>
//         <li class="c-nav__item" role="menuitem">
//             <a href="/" class="c-nav__link"><span>Nav Item 3</span></a>
//         </li>
//     </ul>
// </nav>

$nav-mq: $mq-mob--lrg;
$nav-btn: $size-epsilon;

.c-nav {
    @include mq($nav-mq, min) {
        width: 100%;
    }

    &__btn {
        position: relative;
        @include z-index(hamburger);
        @include font-size($nav-btn, 1);
        transition: color 300ms $ease-in-out;

        &.is-active {
            color: $colour-tertiary;
        }

        @include mq($nav-mq, min) {
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        @include _position(fixed, 0, 0, 0, 0);
        @include z-index(navigation);
        width: 100vw;
        height: 100vh;
        padding: $global-spacing-m 0;
        background-color: rgba($colour-primary, 0.9);
        color: $colour-tertiary;
        transition: opacity 300ms $ease-in-out, visibility 300ms $ease-in-out;
        opacity: 0;
        visibility: hidden;

        .is-active & {
            opacity: 1;
            visibility: visible;
        }

        @include mq($nav-mq, min) {
            position: relative;
            flex-direction: row;
            justify-content: space-between;
            width: auto;
            height: auto;
            padding: $global-spacing-s 0;
            background-color: transparent;
            color: $colour-primary;
            opacity: 1;
            visibility: visible;
        }
    }

    &__item {
        margin: 0;

        & + & {
            @include mq($nav-mq, min) {
                margin-left: $global-spacing-s;
            }
        }
    }
}
