.c-video {
    &[data-autoplay] {
        // stylelint-disable-next-line
        iframe {
            pointer-events: none;
        }
    }
    &--contain {
        // stylelint-disable-next-line
        iframe {
            width: 100%;
            height: 100%;
        }
    }

    &--cover {
        // stylelint-disable-next-line
        iframe {
            @include _position(absolute, 50%, null, null, 50%);
            transform: translate(-50%, -50%);
        }
    }

    &__container {
        @include _position(absolute, 50%, null, null, 0);
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: $colour-primary;
        transform: translateY(-50%);
    }

    &__image {
        @include _position(absolute, 0, 0, 0, 0);
        transition: opacity 1s ease-in-out;

        &[data-state="visible"] {
            opacity: 1;
        }

        &[data-state="hidden"] {
            opacity: 0;
            pointer-events: none;
        }
    }

    &__play-btn {
        $play-color-hover: #00a52d;
        $pause-color-hover: #f06e07;

        position: absolute;
        right: $global-spacing-s * 1.5;
        bottom: $global-spacing-s * 1.5;
        z-index: 1;
        box-sizing: content-box;
        width: 1em;
        height: 1em;
        padding: 0.25em;
        background-color: rgba($colour-primary, 0.5);
        border: 1px solid $colour-secondary;
        border-radius: 50%;
        font-size: 28px;
        transition: all 0.25s ease;

        &:hover {
            border-color: $play-color-hover;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0.25em;
            left: 0.5em;
            width: 0;
            height: 0;
            border: 0.5em solid transparent;
            border-right-width: 0;
            transition: inherit;
        }

        &[data-state="paused"] {
            &::before {
                border-left: 0.75em solid $colour-secondary;
            }
            &:hover::before {
                border-left-color: $play-color-hover;
            }
        }

        &[data-state="playing"] {
            border-radius: 5%;

            &:before {
                left: 0.25em;
                width: 0.2em;
                height: 1em;
                border-width: 0;
                border: {
                    // stylelint-disable-next-line
                    right: 0.4em solid $colour-secondary;
                    left: 0.4em solid $colour-secondary;
                }
            }

            &:hover {
                border-color: $pause-color-hover;

                &::before {
                    border-right-color: $pause-color-hover;
                    border-left-color: $pause-color-hover;
                }
            }
        }
    }
}
