///*----------------------------------*\
//  #BUTTONS
//\*----------------------------------*/
//
//  1.  Allow us to style box model properties.
//  2.  Reset/normalize some styles.
//  3.  Line different sized buttons up a little nicer.
//  4.  Stop buttons wrapping and looking broken.
//  5.  Make buttons inherit font styles (often necessary when styling `input`s as buttons).
//  6.  Force all button-styled elements to appear clickable.
//  7.  Dont allow buttons to have underlines; it kinda ruins the illusion.
//
//\*----------------------------------*/
/* stylelint-disable no-duplicate-selectors */

//  Usage:
//
//  <a href="" class="c-btn"><span>Button</span></a>
//
//  <a href="" class="c-btn  c-btn--primary | c-btn--secondary"><span>Button</span></a>
//
//  <a href="" class="c-btn  c-btn--sml | c-btn--med | c-btn--lrg"><span>Button</span></a>
//
//  <a href="" class="c-btn  c-btn--narrow | c-btn--wide"><span>Button</span></a>
//
//  <a href="" class="c-btn  c-btn--inactive"><span>Button</span></a>

.c-btn {

    display: flex;
    flex-direction: row;
    align-items: center;

    @include font-size($size-milli);
    line-height: 1.8;
    text-transform: uppercase;
    letter-spacing: 4.8px;

    &--primary {
        position: relative;

        span {
            transform: translateX(0px);
            transition: transform 0.3s $ease-in-out;
        }

        &:hover {

            span { 
                transform: translateX(15px);
            }
        }
    }
}