///*----------------------------------*\
//  #CONTENT
//\*----------------------------------*/
//
//  The main content area of the site
//
//\*----------------------------------*/
//
//  Usage:
//
// <div class="c-content">
//     <section class="c-content__body">
//         <header class="c-content__head">
//             <h2 class="c-content__ttl">...</h2>
//             <h3 class="c-content__subttl">...</h3>
//         </header>
//         <article class="c-content__copy">
//             <p>...</p>
//         </article>
//     </section>
// </div>

.c-content {
    position: relative;
    width: 100%;
    padding: $global-spacing-s;

    // stylelint-disable-next-line
    * {
        pointer-events: auto;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: auto;


        // Alignments
        &--left {
            align-items: flex-start;
            text-align: left;
        }

        &--center,
        &--centre {
            align-items: center;
            text-align: center;
        }

        &--right {
            align-items: flex-end;
            text-align: right;
        }

        &--bg {
            padding: $global-spacing;
            background-color: rgba($colour-tertiary, 0.75);

            /*===================*/
            @include mq($mq-desk, min) {
                max-width: 75%;
            }
            /*===================*/
        }
    }

    // MODIFIERS
    &--banner {
        @include _position(absolute, 0, 0, null, 0);
        z-index: 1;
        height: 100%;
        pointer-events: none;
        color: $colour-primary;

        .c-content__inner {
            @include _position(absolute, 0, 0, 0, 0);
            justify-content: center;
            padding: $global-spacing-s* 2;
            pointer-events: none;

            @include mq($mq-mob--lrg, min) {
                padding: 0 13%;
            }
        }
    }

    &--border {
        border: 1px solid $colour-primary;
    }

    &--spaced {
        padding: ($global-spacing-l) ($global-spacing);
    }

    &--vertical-padding {
        padding: $global-spacing-s 0;
    }

    // ELEMENTS
    &__img {
        @include _position(absolute, 0, 0, 0, 0, -1);
        width: 100%;
        height: 100%;
    }

    &__body {
        //
    }

    &__head {
        width: 100%;
        margin-bottom: $global-spacing-s;
    }

    &__copy {
        max-width: 100%;
        margin: $global-spacing-s 0;
    }

    &__cta-group {
        flex-flow: row wrap;
        justify-content: space-between;
        padding-top: 0;

        &--pushed {
            margin-top: $global-spacing;

            @include mq($mq-mob--lrg) {
                margin-top: $global-spacing-l - 3;
            }
        }
    }

    &__cta {
        margin: $global-spacing-s 0;

        & + & {
            @include mq($mq-mob--lrg, min) {
                margin-left: $global-spacing-s;
            }
        }
    }
}
