///*----------------------------------*\
//  #HEADER
//\*----------------------------------*/
//
//  Default Template Header.
//  2 Header Options available:
//
//      HEADER OPTION 1
//      | CTA | NAV | LOGO | NAV | CTA |
//
//      HEADER OPTION 2
//      | LOGO | | NAV | | CTA | CTA |
//
//      Usage:
//      <header class="c-header  c-header--sticky  js-header" role="banner"> ... </div>
//      - `c-header--sticky` provides fixed header styling
//      - `js-header` provides JS hooks for header functionality
//
//\*----------------------------------*/
//

$header-mq: $mq-mob--med;
$header-mq-m: $mq-mob--lrg;
$header-mq-l: $mq-desk--lrg;
$header-logo-width: 215px;

.c-header {
    padding: $global-spacing 0;

    &--sticky {
        @include _position(fixed, 0, 0, null, 0);
        @include z-index(header);
        width: 100%;
        transform: translateZ(0);
        will-change: transform;
        transition: transform 0.5s;

        &.is-hidden {
            @include mq($header-mq-m, min) {
                transform: translateY(-100%);
            }
        }
    }

    &__container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 $global-spacing;
    }
    
    &__left {
        display: flex;
        align-items: center;
    }

    &__brand {
        display: flex;
        margin-left: $global-spacing + 2;
        @include z-index(header);
    }

    &__nav {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;

        @include mq($header-mq, min) {
            order: 1;
        }
        @include mq($header-mq-l, min) {
            width: auto;
        }

        // Centralised Logo
        &--secondary {
            width: 100%;
            padding: 0 $global-spacing-s;

            @include mq($header-mq, min) {
                order: 0;
            }
            @include mq($header-mq-l, min) {
                width: auto;
            }

            .is-centre {
                &::before {
                    // stylelint-disable-next-line
                    @include mq($header-mq-l, min) {
                        content: "";
                        display: flex;
                        width: $header-logo-width;
                    }
                }
            }
        }
    }
    
    &__language {
        margin-right: $global-spacing-s;
        font-family: $font-secondary;
        @include font-size($size-epsilon);
    }
}
