.c-welcome-banner {
    position: relative;

    &__left {
        position: absolute;
        top: 0;
        left: 0;
        display: none;

        align-items: center;
        justify-content: center;

        width: 100px;
        height: 100vh;

        border-right: 1px solid $colour-tertiary;

        @include mq($mq-mob--lrg) {
            display: flex;
        }

    }

    &__right {
        position: absolute;
        top: 0;
        right: 0;
        display: none;

        align-items: center;
        justify-content: center;

        width: 100px;
        height: 100vh;

        border-left: 1px solid $colour-tertiary;

        @include mq($mq-mob--lrg) {
            display: flex;
        }

    }

    &__scroll {
        position: absolute;
        display: flex;
        justify-content: flex-end;

        width: 100vh;
        padding-right: $global-spacing;

        transform: rotate(90deg);

 
        
        &-inner {
            position: relative;
            @include font-size($size-milli);
            line-height: 1.8;
            text-align: right;
            text-transform: uppercase;
            letter-spacing: 4.8px;
        }

        &-line {
            position: absolute;
            top: 10px;
            left: 0;
            width: 40px;
            height: 1px;
            background-color: $colour-primary;
        }
    }

    &__social {
        position: absolute;
        bottom: $global-spacing;
        left: 50%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(-50%);
    }

    &__message {
        position: absolute;
        display: flex;
        justify-content: center;
        
        width: 100vh;

        @include font-size($size-milli);
        text-transform: uppercase;
        letter-spacing: 4.8px;
 
        transform: rotate(90deg);
    }
}